<div class="col-md-12">
  <ul class="breadcrumb">
    <li><a ui-sref="main">Admin</a></li>
    <li class="active">Sites web</li>
  </ul>


<h3 ng-show="websites.length ===0"> Il n'existe pas de site web pour le moment.
  <br>Il est temps d'un <a ui-sref="create website" class="btn btn-primary btn-lg">ajouter un</a></h3>

<div ng-hide="websites.length === 0">
  <h1>Liste des sites web <a ui-sref="create website" class="btn btn-primary pull-right">Nouveau site</a></h1>
  <div ui-grid="gridOptions"  external-scopes="$scope"></div>
</div>
</div>
