<div class="col-md-12">
  <div class="form-group">
    <label for="name" class="control-label">Nom:</label>
    <input type="text" ng-model="item.name" id="name" name="name" class="form-control input-lg" ng-required="true"/>

    <div class="messages" ng-messages="form.name.$error" ng-if="form.name.$touched || form.$submitted">
      <div class="error-message" ng-message="required">Le nom est requis.</div>
    </div>
  </div>
    <div class="form-group">
      <label for="shortDescription" class="control-label">Description courte:</label>
      <input type="text" ng-model="item.shortDescription" id="shortDescription" name="shortDescription" class="form-control input-lg"/>
    </div>
  <div class="form-group">
    <label for="description" class="control-label">Description:</label>
    <textarea ng-model="item.description" id="description" name="description" class="form-control input-lg"
              rows="3"></textarea>
  </div>
    <div class="form-group">
      <label for="producedAt" class="control-label">Date:</label>
      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-focus="open($event)"
             ng-click="open($event)"
             ng-model="item.producedAt" is-open="$parent.opened" close-text="Close" id="producedAt" name="producedAt"/>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary">
    </div>
  </div>

